name: CI Pipeline

on:
  push:
    branches:
      - master
  
jobs:
  project-testing:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'

      - name: Cache pip dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-3.11-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-3.11-

      - name: install dependencies
        run: |
          pip install --upgrade pip
          sed '/pywin32/d' requirements.txt > requirements-ci.txt
          echo "Installing from requirements-ci.txt..."
          pip install -r requirements-ci.txt --prefer-binary || true
          pip install numpy scipy scikit-learn pandas matplotlib dvc[s3]

      - name: run pipeline
        env:
          CAPSTONE_TEST: ${{ secrets.MLOPS_TEST }}
        run: |
          dvc repro
